.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    
    li {
       cursor: pointer;
       padding: 8px;
       border: 1px solid #ccc;
       margin-right: 4px;
    }
    
    li.active {
       background-color: #87CEFA;
       color: #fff;
    }
}
