#cart-container {
    margin-top: 20px;
    padding: 12px 45px;
    padding-bottom: 24px;
    background: #f2f2f2;
    position: sticky;
    bottom: 0;
  }

  #cart-items {
    padding: 0;
  }
  
  #cart-items p {
    display: inline;
    margin: 0;
  }
  
  #cart-items li {
    list-style: none;
    font-weight: 700;
    color: var black;
    display: flex;
    margin-bottom: 8px;
  }

  .total {
    display: flex;
    margin: 0;
    font-size: 1.8rem;
  }
  
  .total-value {
    color: var(--purple);
    margin-left: auto;
  }

  .item-quantity {
    margin-left: auto;
    border: 1px solid black;
    /* border-radius: var(--border-radius); */
    width: 50px;
    padding: 2px 4px;
  }